.content{
    grid-area: c;
    background-color: #A8C4FF;
}
.content_bg > img{
    width: 100%;
    height: 12em;
}
.avatar{
    width: 5vw;
}
.avatar > img{
    width: 100%;
}

.info{
    padding: 10px;
    /*width: 5vw;*/
    /*text-align: center;*/
}
.text{
    color:blue
}